body {
  font-family: "ProximaNova", sans-serif;
  background: #fff;
  /* background: linear-gradient(to right, #5260d5, #42a4f3); */
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

a {
  color: #eef3fa;
  text-decoration: none;
}